.search-div {
  position: relative;
}

.search-list-container {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  max-height: 20rem;
  overflow: scroll;
  border-radius: 5px;
}

.search-list {
  color: rgb(33, 37, 41);
  list-style-type: none;
}

.search-img {
  width: 50px;
  height: 70px;
}

.search-movie-title {
  overflow: hidden;
}

.search-movie-div {
  text-align: start;
}

.lupa:hover {
  cursor: pointer;
}